body,
html{
    height:100%;
    width:100%;
    background-color:white;
    background-image:none;
}

#regCont{
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
    background: rgba(255, 255, 255, 0.9);
    margin-top: 100px;
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url("../img/Reg_Bg.jpg");
    }
}





